build/
bin/

CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile
*.ninja

*.exe
*.out
*.o
*.obj
*.a
*.lib
*.dll
*.so
*.dylib

.vscode/
.idea/
*.sln
*.vcxproj*
*.user
*.log


*.tmp
*.swp
*.bak
*.DS_Store
